---
title: SACHIN TENDULKAR
---

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="site.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
        <a class="navbar-brand" href="#">BCCI</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">HOME</a></li>
          <li><a href="#band">ABOUT</a></li>
          <li><a href="#tour">POSTS</a></li>
          <li><a href="#tour">CATEGORIES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="bg.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>World Cup Winners</h1>

            <a class="btn btn-large btn-primary" href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="bg1.jpg" alt="">
        <div class="container">
          <div class="carousel-caption text-centered">
            <h1>Retirement</h1>

            <a class="btn btn-large btn-primary" href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="bg2.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Mumbai Indians</h1>

            <a class="btn btn-large btn-primary" href="#">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
  <!-- /.carousel -->




  <div class="container-fluid text-center">

    <div class="col-md-1 "></div>

    <div class="col-md-7 ">

      <div class="col-md-12">
        <!-- column 1 row 1 -->
        <div class="row">
          <div class="jumbotron text-left">

            <figure>
              <img class="img-responsive" src="sachin1.jpg" alt="Image of Sachin">
              <figcaption>First Double Hundred: 24th Feb 2010 </figcaption>
            </figure>
            <h2>Flawless Tendulkar 200 gives India series</h2>
            <hr class="style1">
            <p>It took nearly 40 years of waiting and it was well worth it. Sachin Tendulkar chose one of the better bowling
              attacks doing the rounds, to eclipse the record for the highest score, before bringing up the first double-hundred
              in ODI history. The spectators at the Captain Roop Singh Stadium became the envy of cricket fans as they witnessed
              one of the country's favourite sporting heroes play a breathtaking innings which not only set up a 153-run
              annihilation but also the series victory.
            </p>
            <p>He may have been run-out cheaply in the previous match, but nothing could deny him today - be it bowlers, fielders,
              mix-ups or cramps. Dinesh Karthik, Yusuf Pathan and MS Dhoni stood by and admired as the master unfurled all
              the shots in his repertoire.
            </p>
            <hr class="style1">


            <button type="button" class="btn btn-default">BLOG</button>
            <button type="button" id="button" class="btn btn-default">IMAGE</button>

            <div class="icon1">
              <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
              <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
              <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
            </div>

          </div>
        </div>



        <!-- column 1 row 2 -->

        <div class="row text-left">
          <div class="jumbotron ">


            <div id="gallery" class="carousel slide">
              <div id="gallery1" class="carousel-inner">
                <div id="gallery3" class="item active">
                  <img class="img-responsive" src="bg.jpg" alt="">

                </div>
                <div id="gallery3" class="item">
                  <img class="img-responsive" src="bg1.jpg" alt="">

                </div>
                <div id="gallery3" class="item">
                  <img class="img-responsive" src="bg2.jpg" alt="">

                </div>
              </div>
              <div id="carousel_control" class="container-fluid">
                <a href="#gallery" data-slide="prev">
                  <span id="left" class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
                <a href="#gallery" data-slide="next">
                  <span id="right" class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
              </div>
            </div>
            <!-- /.carousel -->

            <h2>Flawless Tendulkar 200 gives India series</h2>
            <hr class="style1">
            <p>It took nearly 40 years of waiting and it was well worth it. Sachin Tendulkar chose one of the better bowling
              attacks doing the rounds, to eclipse the record for the highest score, before bringing up the first double-hundred
              in ODI history. The spectators at the Captain Roop Singh Stadium became the envy of cricket fans as they witnessed
              one of the country's favourite sporting heroes play a breathtaking innings which not only set up a 153-run
              annihilation but also the series victory.
            </p>
            <p>He may have been run-out cheaply in the previous match, but nothing could deny him today - be it bowlers, fielders,
              mix-ups or cramps. Dinesh Karthik, Yusuf Pathan and MS Dhoni stood by and admired as the master unfurled all
              the shots in his repertoire.
            </p>
            <hr class="style1">


            <button type="button" class="btn btn-default">GALLERY</button>
            <button type="button" id="button" class="btn btn-default">SLIDER</button>

            <div class="icon1">
              <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
              <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
              <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
            </div>

          </div>
        </div>



        <!-- column 1 row 3 -->
        <!-- Gallery grid -->

        <div class="row">
          <div class="jumbotron text-left">






            <h2>Image Gallery</h2>
            <div class="table-responsive">
              <table class="w3-table">

                <tbody>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                </tbody>
              </table>
            </div>








            <h2>Flawless Tendulkar 200 gives India series</h2>
            <hr class="style1">
            <p>It took nearly 40 years of waiting and it was well worth it. Sachin Tendulkar chose one of the better bowling
              attacks doing the rounds, to eclipse the record for the highest score, before bringing up the first double-hundred
              in ODI history. The spectators at the Captain Roop Singh Stadium became the envy of cricket fans as they witnessed
              one of the country's favourite sporting heroes play a breathtaking innings which not only set up a 153-run
              annihilation but also the series victory.
            </p>
            <p>He may have been run-out cheaply in the previous match, but nothing could deny him today - be it bowlers, fielders,
              mix-ups or cramps. Dinesh Karthik, Yusuf Pathan and MS Dhoni stood by and admired as the master unfurled all
              the shots in his repertoire.
            </p>
            <hr class="style1">


            <button type="button" class="btn btn-default">GALLERY</button>
            <button type="button" class="btn btn-default">GRID</button>

            <div class="icon1">
              <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
              <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
              <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
            </div>

          </div>


        </div>



        <!-- column 1 row 4 -->

        <div class="row">

          <div class="jumbotron text-left">
           <div class="embed-responsive embed-responsive-16by9"> 
            <iframe width="800" height="500" src="https://www.youtube.com/embed/R1ztqZ_aq7A"></iframe></div>
            <h2>Flawless Tendulkar 200 gives India series</h2>
            <hr class="style1">

            <p>
              It took nearly 40 years of waiting and it was well worth it. Sachin Tendulkar chose one of the better bowling attacks doing
              the rounds, to eclipse the record for the highest score, before bringing up the first double-hundred in ODI
              history. The spectators at the Captain Roop Singh Stadium became the envy of cricket fans as they witnessed
              one of the country's favourite sporting heroes play a breathtaking innings which not only set up a 153-run
              annihilation but also the series victory.
            </p>

            <p>
              He may have been run-out cheaply in the previous match, but nothing could deny him today - be it bowlers, fielders, mix-ups
              or cramps. Dinesh Karthik, Yusuf Pathan and MS Dhoni stood by and admired as the master unfurled all the shots
              in his repertoire.
            </p>

            <hr class="style1">

            <button type="button" class="btn btn-default">GALLERY</button>
            <button type="button" class="btn btn-default">GRID</button>

            <div class="icon1">
              <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
              <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
              <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
            </div>
          </div>
          
        </div>





        <!-- column 1 row 5 -->
        <div class="row align-center">
          <div class="jumbotron">
            <i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i>
            <br>
            <br>
            <br>

            <div class="container text-center">
              <p><b><i> I hate losing and cricket being my first love, once I enter the ground it’s a different zone altogether and that hunger for winning is always there.</i></b></p>
              <hr class="style1">
              <sub>Sachin Tendulkar</sub>

            </div>


          </div>
        </div>




      </div>
      <!-- end of colum 1 -->
    </div>









    <!-- column 2 row 1 -->
    <div class="col-md-3 " style="padding-right=40px;">
      <div class="col-md-12">
        <div class="row text-left">
          <div class="jumbotron ">

            <h4>ABOUT SACHIN </h4>


            <img class="img-responsive" src="sachin.jpg">

            <p>Retired Indian cricket player Sachin Tendulkar is considered one of the greatest batsmen in the history of his
              sport. Sachin Tendulkar was born April 24, 1973, in Bombay, India. Introduced to cricket at age 11, Tendulkar
              was just 16 when he became India's youngest Test cricketer. In 2005, he became the first cricketer to score
              35 centuries (100 runs in a single inning) in Test play.
            </p>
            <i class="fa fa-facebook-square" style="font-size:36px;color:blue;"></i>
            <i class="fa fa-twitter" style="font-size:36px;color:skyblue;"></i>
            <i class="fa fa-pinterest" style="font-size:36px;color:red;"></i>
            <i class="fa fa-instagram" style="font-size:36px;color:darkblue;"></i>

          </div>
        </div>


        <!-- column 2 row 2 -->


        <div class="row text-center">
          <div class="jumbotron">
            <div class="container-fluid">
              <h4>POPULAR POSTS</h4>
              <hr class="style1">
              <div class="table-responsive">
                <table class="w3-table">

                  <tbody>
                    <tr>
                      <td><img class="img-circle" src="bg2.jpg" alt="" width="140" height="106"></td>
                      <td>ksdjfghsjhgosh</td>

                    </tr>
                    <tr>
                      <td><img class="img-circle" src="bg2.jpg" alt="" width="140" height="106"></td>
                      <td>ksdjfghsjhgosh</td>

                    </tr>
                    <tr>
                      <td><img class="img-circle" src="bg2.jpg" alt="" width="140" height="106"></td>
                      <td>ksdjfghsjhgosh</td>

                    </tr>
                    <tr>
                      <td><img class="img-circle" src="bg2.jpg" alt="" width="140" height="106"></td>
                      <td>ksdjfghsjhgosh</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>




        <!-- column 2 row 3 -->

        <div class="row text-left">

          <div class="jumbotron">
            <h4>INSTAGRAM</h4>
            <div class="table-responsive">
              <table class="w3-table" id="table" border="0">

                <tbody>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                  <tr>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                    <td><img class="img-responsive" src="bg2.jpg" alt=""></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>




        <!-- column 2 row 4 -->

        <div class="row text-left">
          <div class="jumbotron">
            <h4>GET SOCIAL</h4>
            <hr class="style1">
            <div class="icon1">
              <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
              <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
              <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
              <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
            </div>
          </div>
        </div>



        <!-- column 2 row 5 -->

        <div class="row text-left">
          <div class="jumbotron">
            <h4>CATEGORIES</h4>
            <hr class="style1">
            <div class="list-group">
              <a href="#" class="list-group-item"><span class="badge">12</span>First item</a>
              <a href="#" class="list-group-item"><span class="badge">12</span>Second item</a>
              <a href="#" class="list-group-item"><span class="badge">12</span>Third item</a>
              <a href="#" class="list-group-item"><span class="badge">12</span>First item</a>
              <a href="#" class="list-group-item"><span class="badge">12</span>Second item</a>
              <a href="#" class="list-group-item"><span class="badge">12</span>Third item</a>
            </div>


          </div>



        </div>





      </div>
      <!-- end of column 2 -->





      <div class="col-md-1 " style="padding-right=40px;"></div>

    </div>
  </div>















  <!-- FOOTER -->


  <footer class="container-fluid text-center">

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">
        <div class="container-fluid text-left">
          <h4>ABOUT US</h4>

          <hr>
          <p><em>
          It took nearly 40 years of waiting and it was well worth it. Sachin Tendulkar chose one of the better bowling attacks doing the rounds, to eclipse the record for the highest score, before bringing up the first double-hundred in ODI history. 
      </em>
          </p>



          <hr class="style1">

          <div class="icon1">
            <i class="fa fa-google-plus " id="icon" style="font-size:16px; "></i>
            <i class="fa fa-facebook-square" id="icon" style="font-size:16px;"></i>
            <i class="fa fa-twitter" id="icon" style="font-size:16;"></i>
            <i class="fa fa-pinterest" id="icon" style="font-size:16px;"></i>
            <i class="fa fa-instagram" id="icon" style="font-size:16px;"></i>
          </div>


        </div>
      </div>
      <div class="col-sm-2">
        <h4>TWITTER FEEDS</h4>

        <hr class="style1">
        <div class="container-fluid text-left">
          <i class="fa fa-twitter fa-4x" style="font-size:17px;"> 2 hours ago</i>
          <p>sachin tendulkar ‏@sachin_rt Jul 29 Tigers are our national pride, lets all come together to #SaveOurTigers from
            becoming extinct.#InternationalTigerDay</p>
          <hr class="style1">
        </div>
      </div>





      <div class="col-sm-2">
        <div class="container-fluid text-left">
          <h4>TAGS</h4>

          <hr class="style1">
          <button type="button" class="btn btn-default">GALLERY</button>
          <button type="button" class="btn btn-default">GRID</button>
          <button type="button" class="btn btn-default">GALLERY</button>
          <button type="button" class="btn btn-default">GRID</button>
          <button type="button" class="btn btn-default">GALLERY</button>
          <button type="button" class="btn btn-default">GRID</button>
          <button type="button" class="btn btn-default">GALLERY</button>
          <button type="button" class="btn btn-default">GRID</button>
          <hr class="style1">
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br><br><br><br><br>

    <p>Bootstrap Theme Made By Vishnu V V</p>
  </footer>



</body>

</html>